# Hugo default output directory
/public/
/resources/

# Hugo working directory
/hugo_stats.json

# Temporary lock file while building
.hugo_build.lock

# Raw input data folder
/inputs/

# Intermediate data processing directory
/intermediates/

# API keys
.env
