# Hugo default output directory
/public/
/resources/

# Never commit this folder
/raw_do_not_commit/

# Hugo working directory
/hugo_stats.json

# Temporary lock file while building
.hugo_build.lock

# Intermediate data processing directory
/intermediates/

# API keys
.env
