/* Skip to content link */
.skip-link {
  position: absolute;
  top: -9999px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
  font-weight: bold;
}

.skip-link:focus {
  top: 0;
  left: 0;
  outline: 3px solid #EBC3DB; /* Using theme highlight color */
}
